body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.game{
    height: 330px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7px;


   
}

.box{
    height: 110px;
    width: 110px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 80px;
    color: red;
    background-color: bisque;
}

#reset-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: white;
    font-size: 27px;
}

.msg-container{
    height: 37px;
}

.hide{
    display: none;
}